<?xml version="1.0" encoding="UTF-8"?>

    <manifest android:versionName="1.0" android:versionCode="1" package="com.example.manjubs.tabbar" xmlns:android="http://schemas.android.com/apk/res/android">

<uses-sdk android:targetSdkVersion="8" android:minSdkVersion="8"/>


<application android:theme="@style/AppTheme" android:label="@string/app_name" android:icon="@drawable/ic_launcher" android:allowBackup="true">


    <activity android:label="@string/app_name" android:name="com.example.manjubs.tabbar.TabBar">


    <intent-filter>

    <action android:name="android.intent.action.MAIN"/>

    <category android:name="android.intent.category.LAUNCHER"/>

</intent-filter>

</activity>

    <activity android:name="com.example.manjubs.tabbar.Tab1"/>

    <activity android:name="com.example.manjubs.tabbar.Tab2"/>

    <activity android:name="com.example.manjubs.tabbar.Tab3"/>

</application>

</manifest>